<section class="form_consultation" >
    <div id="banner">
        <img src="img/form_bg3.png"/>
    </div>
    <div class="block_form">
        <div class="container">
            <h2 class="title">Консультация</h2>
            <p>уже сегодня</p>
            <form>
                <div class="input_box">
                    <input type="text" required>
                    <span class="highlight"></span>
                    <span class="bar"></span>
                    <label>Ваше имя</label>

                </div>
                <div class="input_box">
                    <input type="tel" class="phone_mask" maxlength="18">
                    <span class="highlight"></span>
                    <span class="bar"></span>
                    <label>Телефон</label>
                </div>
                <div class="input_box">
                    <textarea></textarea>
                    <span class="highlight"></span>
                    <span class="bar"></span>
                    <label>Ваш вопрос</label>
                </div>
                <button class="submit">Заказать услуги</button>
            </form>

        </div>
    </div>

</section>
