<section class="form_consultation">
    <div class="container">
        <h2 class="title">Консультация</h2>
        <p>уже сегодня</p>
        <form>
            <div class="input_box">
                <label>Ваше имя</label>
                <input type="text">
            </div>
            <div class="input_box">
                <label>Телефон</label>
                <input type="tel" class="phone_mask" maxlength="18">
            </div>
            <div class="input_box">
                <label>Ваш вопрос</label>
                <input type="text">
            </div>
            <button class="submit">Заказать услуги</button>
        </form>
    </div>
</section>