<header class="header">
    <div class="container">

        <div class="nav_mobile">
            <a href="javascript:void(0);" class="icon_menu"><img src="img/menu.png" ></a>
            <ul class="menu">
                <li><a href="index.html">Главная</a></li>
                <li><a href="services.html" >Услуги</a></li>
                <li><a href="company.html">О компании</a></li>
                <li><a href="case.html">Кейсы</a></li>
                <li>
                    <a href="specialist.html">Специалисты</a>
                </li>
                <li>
                    <a href="vocabulary.html">Словарь</a>
                </li>
                <li><a href="contact.html">Контакты</a></li>
            </ul>
        </div>
          <a href="index.html" class="logo"><img src="img/header_logo.png"></a>
        <div class="phone_block">
            <img src="img/telephone.png" class="icon_call">
            <ul class="call">
                <li><a href="tel:+7 123 456 78 96"><span>+71234567896</span></a></li>
                <li><a href="tel:+7 123 456 78 96"><span>+71234567896</span></a></li>
                <li><a  href="tel:+7 123 456 78 96"><span>+71234567896</span></a></li>
            </ul>
        </div>
        <div class="nav_desktop">
            <ul class="menu">
                <li><a href="index.html">Главная</a></li>
                <li class="sub">
                    <a href="services.html" >Услуги</a>
                    <ul class="sub-menu">
                        <li class="about_sub">
                            <a href="#">Юридические услуги</a>
                            <ul class="about_menu">
                                <li>
                                    <a href="#"><strong>Налоги</strong></a>
                                </li>
                                <li>
                                    <a href="#">Сопровождение и оспаривание результатов налоговых проверок</a>
                                </li>
                                <li>
                                    <a href="#">Сопровождение на допрос (комиссию по НДС) в налоговый орган</a>
                                </li>
                                <li>
                                    <a href="#">Диагностика и разработка юридической структуры бизнеса</a>
                                </li>
                                <li>
                                    <a href="#">Судебное представительство по налоговым спорам</a>
                                </li>
                                <li>
                                    <a href="#"><strong>Регистрация и банкротство</strong></a>
                                </li>
                                <li>
                                    <a href="#">Регистрация юридических лиц</a>
                                </li>
                                <li>
                                    <a href="#">Внесение изменений в сведения об обществе, содержащихся в едином государственном реестре юридических лиц</a>
                                </li>
                                <li>
                                    <a href="#">Ликвидация юридического лица</a>
                                </li>
                                <li>
                                    <a href="#"> Банкротство юридического лица</a>
                                </li>
                                <li>
                                    <a href="#"> Отмена принудительной ликвидации юридического лица</a>
                                </li>
                                <li>
                                    <a href="#">Сопутствующие услуги</a>
                                </li>
                            </ul>
                        </li>
                        <li>
                            <a href="#">IT диагностикаt</a>
                        </li>
                        <li>
                            <a href="#">Аудит</a>
                        </li>
                        <li>
                            <a href="#">Услуги адвоката</a>
                        </li>
                    </ul>
                </li>
                <li class="sub">
                    <a href="company.html">О компании</a>
                    <ul class="sub-menu">
                        <li>
                            <a href="#">test</a>
                        </li>
                        <li>
                            <a href="#">test</a>
                        </li>
                        <li>
                            <a href="#">test</a>
                        </li>
                    </ul>
                </li>
                <li>
                    <a href="case.html">Кейсы</a>
                </li>
                <li class="sub">
                    <a href="#">Полезные материалы</a>
                    <ul class="sub-menu">
                        <li>
                            <a href="vocabulary.html">Словарь</a>
                        </li>
                        <li>
                            <a href="spec.html">Специалисты</a>
                        </li>
                    </ul>
                </li>
                <li><a href="contact.html">Контакты</a></li>
            </ul>
        </div>
        <div class="call_box">
            <a href="tel:+7 123 456 78 96"><img src="img/telephone.png"><span>+71234567896</span></a>
            <ul>
                <li><a href="tel:+7 123 456 78 96"><img src="img/telephone.png"><span>+71234567896</span></a></li>
                <li><a  href="tel:+7 123 456 78 96"><img src="img/telephone.png"><span>+71234567896</span></a></li>
            </ul>
        </div>
          <a href="javascript:void(0);" class="btn waite">Оставить заявку</a>
    </div>
</header>

