<header class="header">
    <div class="container">
        <div class="nav">
            <a href="javascript:void(0);" class="icon_menu"><img src="img/menu.png" ></a>
            <ul class="menu">
                <li><a href="index.html">Главная</a></li>
                <li>
                    <a href="#" class="sub">Услуги</a>
                    <ul class="submenu">
                        <li>
                            <a href="#">test</a>
                        </li>
                        <li>
                            <a href="#">test</a>
                        </li>
                        <li>
                            <a href="#">test</a>
                        </li>
                    </ul>
                </li>
                <li>
                    <a href="#" class="sub">О компании</a>
                    <ul class="submenu">
                        <li>
                            <a href="#">test</a>
                        </li>
                        <li>
                            <a href="#">test</a>
                        </li>
                        <li>
                            <a href="#">test</a>
                        </li>
                    </ul>
                </li>
                <li>
                    <a href="#" class="sub">Кейсы</a>
                    <ul class="submenu">
                        <li>
                            <a href="case.html">test</a>
                        </li>
                        <li>
                            <a href="#">test</a>
                        </li>
                        <li>
                            <a href="#">test</a>
                        </li>
                    </ul>
                </li>
                <li>
                    <a href="#" class="sub">Полезные материалы</a>
                    <ul class="submenu">
                        <li>
                            <a href="#">test</a>
                        </li>
                        <li>
                            <a href="#">test</a>
                        </li>
                        <li>
                            <a href="#">test</a>
                        </li>
                    </ul>
                </li>
                <li><a href="#">Контакты</a></li>
            </ul>
        </div>
        <a href="index.html" class="logo"><img src="img/header_logo.png"></a>
        <a class="tel" href="tel:+7 123 456 78 96"><img src="img/telephone.png"><span>+71234567896</span></a>
        <a href="javascript:void(0);" class="btn">Оставить заявку</a>
    </div>
</header>