<div class="overlay-form formPopup animated">
    <div class="close"></div>
    <div class="form__popup ">
        <span class="close-popup"><img src="img/cancel.png"></span>
        <div class="content">
            <div class="block_form">
                <h2 class="title">Оставьте заявку</h2>
                <p>и мы перезвоним уже сегодня</p>
                <form>
                    <div class="input_box">
                        <input type="text" required>
                        <span class="highlight"></span>
                        <span class="bar"></span>
                        <label>Ваше имя</label>

                    </div>
                    <div class="input_box">
                        <input type="tel" class="phone_mask" maxlength="18">
                        <span class="highlight"></span>
                        <span class="bar"></span>
                        <label>Телефон</label>
                    </div>
                    <div class="input_box">
                        <input type="text" required>
                        <span class="highlight"></span>
                        <span class="bar"></span>
                        <label>Ваш вопрос</label>
                    </div>
                    <button class="submit">Заказать услуги</button>
                </form>
            </div>
        </div>
    </div>
</div>