<section class="services" id="anchor">
    <div class="container">
        <h2 class="title">Услуги</h2>
        <div class="services_box">
            <div class="box" style="background-image: url(img/box_1.png)">
                <span>01</span>
                <h4>Юридические услуги</h4>
                <ul>
                    <li><a href="#">Сопровождение налоговых проверок</a></li>
                    <li><a href="#">Мониторинг налоговых рисков</a></li>
                    <li><a href="#"> Представительство в суде по налоговым спорам</a></li>
                </ul>
            </div>
            <div class="box" style="background-image: url(img/box_3.png)">
                <span>02</span>
                <h4>IT диагностика</h4>
                <ul>
                    <li><a href="#">Технический консалтинг</a></li>
                    <li><a href="#">Защищенный мессенджер</a></li>
                    <li><a href="#">Техническая поддержка</a></li>
                    <li><a href="#">Аудит баз данных</a></li>
                </ul>
            </div>
            <div class="box" style="background-image: url(img/box_2.png)">
                <span>03</span>
                <h4>Юридические услуги</h4>
                <ul>
                    <li><a href="#">Форензик</a></li>
                    <li><a href="#">Проверка бизнеса</a></li>
                    <li><a href="#">Аудит отчетности по МСФО</a></li>
                    <li><a href="#">Обязательный налоговый аудит</a></li>
                </ul>
            </div>
        </div>
        <a href="#" class="btn">Смотреть все</a>
    </div>
</section>